---
import '../../styles/base.css'
import Footer from '../../components/Footer.astro';

---

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Kumi Vision</title>
		<meta name="description" content="Animating SVG text on a path on scroll using the Intersection Observer API and SVG filters." />
		<meta name="keywords" content="svg text, animation, scroll, svg filter, Intersection Observer" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../../../utils/looggoo.png">
		<link rel="stylesheet" href="https://use.typekit.net/rhw1vur.css">
		<!-- <link rel="stylesheet" type="text/css" href="../../styles/base.css" /> -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
		<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
		<!--script src="//tympanus.net/codrops/adpacks/analytics.js"></script-->
		<style lang="scss">

		</style>
	</head>
	<body class="loading">
		<svg class="hidden">
			<defs>
				<filter id="blur" x="-30%" y="-30%" width="160%" height="160%">
					<feGaussianBlur stdDeviation="0" result="blur" data-min-deviation="0" data-max-deviation="10"/>
					<feMerge>
						<feMergeNode in="blur"/>
					</feMerge>
				</filter>
				<filter id="blur2" x="-30%" y="-30%" width="160%" height="160%">
					<feGaussianBlur in="SourceAlpha" stdDeviation="0" result="glow" data-min-deviation="0" data-max-deviation="30"/>
					<feColorMatrix result="bluralpha" type="matrix" values="0 -1 0 0 0 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1.8 0 "/>
					<feOffset in="bluralpha" dx="0.000000" dy="0.000000" result="offsetBlur"/>
					<feMerge>
						<feMergeNode in="offsetBlur"/>
						<feMergeNode in="SourceGraphic"/>
					</feMerge>
				</filter>
				<filter id="distortionFilter">
					<feTurbulence type="fractalNoise" baseFrequency="0.01 0.03" numOctaves="2" seed="2" stitchTiles="stitch" x="0%" y="0%" width="100%" height="100%" result="noise"/>
					<feDisplacementMap in="SourceGraphic" in2="noise" scale="0" data-min-scale="0" data-max-scale="100" xChannelSelector="R" yChannelSelector="B" x="0%" y="0%" width="100%" height="100%" filterUnits="userSpaceOnUse"/>
				</filter>
				<filter id="distortionFilter2">
					<feGaussianBlur stdDeviation="10" result="glow"/>
					<feTurbulence type="fractalNoise" baseFrequency="0 0.1" numOctaves="2" seed="2" stitchTiles="noStitch" x="-30%" y="-30%" width="160%" height="160%" result="noise"/>
					<feDisplacementMap in="SourceGraphic" in2="noise" scale="0" data-min-scale="0" data-max-scale="50" xChannelSelector="R" yChannelSelector="B" x="-30%" y="-30%" width="160%" height="160%" filterUnits="userSpaceOnUse" result="displacement"/>
					<feMerge>
						<feMergeNode in="glow"/>
						<feMergeNode in="displacement"/>
					</feMerge>
				</filter>
			</defs>
		</svg>
		<main>
			<div class="frame frame--screen">
				
				<h2 class="frame__heading">The somali brainchild project</h2>
				<div class="frame__counter">
					<span class="frame__counter-number">06</span>
					<span class="frame__counter-text">months</span>
					<span class="frame__counter-number">04</span>
					<span class="frame__counter-text">days left</span>
				</div>
				<nav class="frame__links frame__links--header">
					<a href="#">Updates</a>
					<a href="#">About</a>
					<a href="#">Careers</a>
				</nav>
			</div>
			<header class="intro">
				<h1 class="intro__title">Brainchild</h1>
				<p class="intro__hint">Discover our mission</p>
			</header>
			<div class="grid">
				<div class="grid__item">
					<span class="grid__item-number">01</span>
					
					<img class="grid__item-img" src={`${import.meta.env.PROD ? 'https://raw.githubusercontent.com/babamsi/kumiVision/master/utils/img/1.jpg': '../../../utils/img/1.jpg'}`} alt="Some image" />
					<h3 class="grid__item-title">One man, one mission</h3>
					<p class="grid__item-description">The Somali language is a rich and complex tongue spoken by millions of people in the Horn of Africa and around the world. Yet, for too long, it has been underserved by the digital age, with few resources and tools available for Somalis to use and develop their language online. That is why we at Kumi LLC are proud to introduce our new project, the Brainchild, a tech revolution in digitalizing the Somali language model.</p>
				</div>
				<div class="grid__item">
					<span class="grid__item-number">02</span>
						
					<img class="grid__item-img" src={`${import.meta.env.PROD ? 'https://raw.githubusercontent.com/babamsi/kumiVision/master/utils/img/photo_6325460179956643108_y.jpg': '../../../utils/img/photo_6325460179956643108_y.jpg'}`} alt="Some image" />
					<h3 class="grid__item-title">Geode planning</h3>
					<p class="grid__item-description">The Brainchild is a groundbreaking effort to create a comprehensive and accessible digital platform for the Somali language, from speech recognition to machine translation to natural language processing. We believe that by investing in the development of the Somali language, we can empower Somalis to connect with each other and the wider world, unlock new opportunities for education and economic development, and preserve and enrich their culture for generations to come..</p>
				</div>
			</div>
			<svg class="svgtext svgtext--1" data-filter-type="blur" width="120%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1000 200">
				<path id="text-curve1" d="M 0 100 Q 250 200 500 100 Q 750 0 1000 100" fill="none"/>
				<text filter="url(#blur)">
					<textPath href="#text-curve1">
						You may think I’m small, but I have a universe inside my mind.
					</textPath>
				</text>
			</svg>
			<svg class="svgtext" data-filter-type="blur" width="120%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1000 200">
				<path id="text-curve11" d="M 0 100 Q 250 0 500 100 Q 750 200 1000 100" fill="none"/>
				<text filter="url(#blur2)">
					<textPath href="#text-curve11">
						Don't forget about the stardust. Don't forget about the quartz rocks in the woods.
					</textPath>
				</text>
			</svg>
			<div class="grid">
				<div class="grid__item">
					<span class="grid__item-number">03</span>
					

						


					<img  src={`${import.meta.env.PROD ? 'https://raw.githubusercontent.com/babamsi/kumiVision/master/utils/img/photo_6325460179956643110_y.jpg': '../../../utils/img/photo_6325460179956643110_y.jpg'}`}/>
					<h3 class="grid__item-title">Disaster management</h3>
					<p class="grid__item-description">Our team at Kumi LLC is made up of experienced and passionate technologists, linguists, and cultural ambassadors, who share a deep commitment to the power of language and the potential of technology. We are partnering with leading experts and organizations in the fields of artificial intelligence, computational linguistics, and language education to bring the Brainchild to life.</p>
				</div>
				<div class="grid__item">
					<span class="grid__item-number">04</span>						

					<img class="grid__item-img" src={`${import.meta.env.PROD ? 'https://raw.githubusercontent.com/babamsi/kumiVision/master/utils/img/photo_6325460179956643111_y.jpg': '../../../utils/img/photo_6325460179956643111_y.jpg'}`} alt="Some image" />
					<h3 class="grid__item-title">Impact theory</h3>
					<p class="grid__item-description">We know that this is a daunting task, and that we face many challenges along the way. But we also know that the rewards of success are immense. By building the Brainchild, we are creating a new standard of excellence for language technology, and we are paving the way for the next generation of language innovators and entrepreneurs..</p>
				</div>
			</div>
			<img class="bigimg" src={`${import.meta.env.PROD ? 'https://raw.githubusercontent.com/babamsi/kumiVision/master/utils/img/photo_6325460179956643112_w.jpg': '../../../utils/img/photo_6325460179956643112_w.jpg'}`} alt="Some image" />
			<svg class="svgtext svgtext--2" data-filter-type="distortion" width="120%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1000 200">
				<path id="text-curve2" d="M 0 50 Q 100 0 200 100 Q 300 200 650 50 C 750 0 750 150 1000 50" fill="none"/>
				<text filter="url(#distortionFilter)">
					<textPath href="#text-curve2">
					Dwell on the beauty of life. Watch the stars.
					</textPath>
				</text>
			</svg>
			<svg class="svgtext" data-filter-type="distortion" width="120%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1000 300">
				<path id="text-curve22" d="M 0 200 Q 150 300 300 200 Q 700 0 1000 150" fill="none"/>
				<text filter="url(#distortionFilter2)">
					<textPath href="#text-curve22">
					The cosmos is within us. We are made of star-stuff.
					</textPath>
				</text>
			</svg>
			<div class="grid">
				<div class="grid__item">
					<span class="grid__item-number">05</span>
					<img class="grid__item-img" src={`${import.meta.env.PROD ? 'https://raw.githubusercontent.com/babamsi/kumiVision/master/utils/img/photo_6325460179956643113_y.jpg': '../../../utils/img/photo_6325460179956643113_y.jpg'}`} alt="Some image" />
					<h3 class="grid__item-title">Incubation assertion</h3>
					<p class="grid__item-description">We are also deeply committed to ensuring that the Brainchild is a platform that is accessible, inclusive, and user-friendly. We are working with community leaders and educators to understand the needs and challenges of Somali language users, and to design the Brainchild in a way that serves their needs.. </p>
				</div>
				<div class="grid__item">
					<span class="grid__item-number">06</span>
					<img class="grid__item-img" src={`${import.meta.env.PROD ? 'https://raw.githubusercontent.com/babamsi/kumiVision/master/utils/img/photo_6325460179956643114_y.jpg': '../../../utils/img/photo_6325460179956643114_y.jpg'}`} alt="Some image" />
					<h3 class="grid__item-title">Hyperdrive vessel</h3>
					<p class="grid__item-description">We invite you to join us on this exciting journey, to be part of the Brainchild revolution, and to help us build a world where the Somali language is a vibrant and vital part of the digital landscape. Whether you are a technologist, a linguist, a cultural enthusiast, or simply someone who cares about the future of language, we welcome you to our team..</p>
				</div>
			</div>
			<svg class="svgtext svgtext--3" data-filter-type="blur" width="120%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1000 200">
				<path id="text-curve3" d="M 0 150 Q 200 50 500 50 Q 800 50 1000 150 " fill="none"/>
				<text filter="url(#blur)">
					<textPath href="#text-curve3">
					When it is dark enough, you can see the stars.
					</textPath>
				</text>
			</svg>
			<svg class="svgtext svgtext--3" data-filter-type="blur" width="120%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1000 200">
				<path id="text-curve4" d="M 0 150 Q 200 50 500 50 Q 800 50 1000 150 " fill="none"/>
				<text filter="url(#blur)">
					<textPath href="#text-curve4">
					It is not the man who has too little, but the man who craves more, that is poor.
					</textPath>
				</text>
			</svg>
			<svg class="svgtext svgtext--3" data-filter-type="blur" width="120%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1000 200">
				<path id="text-curve5" d="M 0 150 Q 200 50 500 50 Q 800 50 1000 150 " fill="none"/>
				<text filter="url(#blur)">
					<textPath href="#text-curve5">
					Live by love though the stars walk backward.
					</textPath>
				</text>
			</svg>
			<img class="bigimg" src={`${import.meta.env.PROD ? 'https://raw.githubusercontent.com/babamsi/kumiVision/master/utils/img/photo_6325460179956643115_w.jpg': '../../../utils/img/photo_6325460179956643115_w.jpg'}`} alt="Some image" />
			<div class="grid-wrap">
				<svg class="svgtext svgtext--4" data-filter-type="blur" width="120%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1000 200">
					<path id="textcircle" d="M 0 0 Q 200 150 500 150 Q 850 150 1000 0 " fill="none"/>
					<text filter="url(#blur)">
						<textPath href="#textcircle">
						Yours is the light by which my spirit's born: you are my sun, my moon, and all my stars.
						</textPath>
					</text>
				</svg>
				<div class="grid">
					<div class="grid__item">
						<span class="grid__item-number">07</span>
						<img class="grid__item-img" src={`${import.meta.env.PROD ? 'https://raw.githubusercontent.com/babamsi/kumiVision/master/utils/img/photo_6325460179956643117_y.jpg': '../../../utils/img/photo_6325460179956643117_y.jpg'}`} alt="Some image" />
						<h3 class="grid__item-title">Icarian Engine</h3>
						<p class="grid__item-description">And now Juno's Samos was on the left side for Delos and Paros had been left behind and on the right was Lebynthos and Kalymnos rich in honey, when the boy began to rejoice in his bold flight and deserted his leader, and attracted by a desire for the sky he took his path went higher.. </p>
					</div>
					<div class="grid__item">
						<span class="grid__item-number">08</span>
						<img class="grid__item-img" src={`${import.meta.env.PROD ? 'https://raw.githubusercontent.com/babamsi/kumiVision/master/utils/img/photo_6325817821883380871_y.jpg': '../../../utils/img/photo_6325817821883380871_y.jpg'}`} alt="Some image" />
						<h3 class="grid__item-title">Neutrospace Accelerator</h3>
						<p class="grid__item-description">The vicinity of the sun softens the fragrant wax, the chains of the feathers; the wax melted: he shook his bare arms and lacking oarage he takes up no air, and his mouth shouting his father's name is swept up in the blue sea, which takes its name from him..</p>
					</div>
				</div>
			</div>
			<!-- <footer class="frame">
				<div class="frame__links">
					<a href="https://tympanus.net/Development/AudioBasedImageDistortion/">Previous Demo</a>
					<a href="https://tympanus.net/codrops/?p=47831">Article</a>
					<a href="https://github.com/codrops/AnimateSVGTextPath/">GitHub</a>
				</div>
			</footer> -->
			<Footer />
		</main>
		<!--script src="https://tympanus.net/codrops/adpacks/demoad.js"></script-->
		<script>
			import '../../../utils/js/index'
			console.log(import.meta.env.PROD)
			console.log(import.meta.env.PUBLIC_IMG_URL);
		</script>
	</body>
</html>
