---
// import '../styles/global.css'
---

<footer class="mt-4 self-center items-center">
    <div class="max-w-screen-xl p-4 py-6 mx-auto lg:py-16 md:p-8 lg:p-10 text-center justify-center">
        <div class="grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-3 items-center self-center justify-center">
            <div class="p-4">
                <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Ubax</h3>
                <ul class="text-gray-500 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="#" class=" hover:underline">Overview</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Pricing</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Examples</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Developer docs</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Terms & Policies</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Login</a>
                    </li>
                </ul>
            </div>
            <div class="p-4">
                <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Blog</h3>
                <ul class="text-gray-500 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Research</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Announcements</a>
                    </li>
                    <li class="mb-4">
                     <a href="#" class="hover:underline">Events</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Milestones</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Information</h3>
                <ul class="text-gray-500 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">About Us</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Virtual Lab</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Careers</a>
                    </li>
                </ul>
            </div>
         
           
        </div>
        
        
    </div>
</footer>