
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="../../utils/looggoo.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="shortcut icon" href={`${import.meta.env.PROD ? 'https://raw.githubusercontent.com/babamsi/kumiVision/master/utils/looggoo.png' : "../../../utils/looggoo.png"}` }>

		<title>Kumi</title>
	</head>
	<body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
    


<!--Nav-->
<nav id="header" class="fixed w-full z-30 top-0 text-white bg-black items-center justify-center">
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
      <div class="pl-4 flex items-center">
        <a class="toggleColour mt-5 text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
          
            <svg width="320" height="72" viewBox="0 0 320 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M32.8257 25.8778C33.2511 27.3156 33.2511 28.8318 32.8257 30.2691C34.1158 30.9772 35.1693 32.0559 35.8603 33.3792C37.2632 32.9432 38.7427 32.9432 40.1451 33.3792C40.836 32.0559 41.8885 30.9773 43.1797 30.2691C42.7543 28.8314 42.7543 27.3151 43.1797 25.8778C41.8885 25.1697 40.8361 24.0911 40.1451 22.7677C38.7422 23.2037 37.2627 23.2037 35.8603 22.7677C35.1694 24.0911 34.1158 25.1696 32.8257 25.8778ZM13.8408 42.4788C19.3307 42.369 24.6224 43.3036 28.93 45.7682C32.5445 47.8371 35.4562 50.9684 37.204 55.4416C37.7455 55.3465 38.2593 55.3465 38.8007 55.4416C40.5485 50.9678 43.4602 47.8371 47.0747 45.7682C51.3966 43.2944 56.711 42.3621 62.2222 42.48C62.7298 42.4903 63.0925 42.9775 62.9792 43.4784H62.9814C60.3194 55.0369 55.6937 56.1509 49.8828 57.5504C47.6473 58.0883 45.2242 58.6723 42.694 59.9849C42.809 62.7141 40.673 65 38.0005 65C35.3291 65 33.1932 62.7146 33.3069 59.9849C24.4337 55.3773 16.7405 59.6843 13.0211 43.4785C12.9006 42.9486 13.3121 42.4506 13.8392 42.479L13.8408 42.4788ZM28.158 47.1894C24.3581 45.0151 19.7002 44.1095 14.8112 44.097C17.2771 53.7465 21.3758 54.7328 26.4819 55.9624C28.9478 56.5566 31.6335 57.2032 34.5132 58.7936C34.8159 58.9495 34.9964 59.2945 34.9386 59.6542C34.6237 61.5855 36.0716 63.3681 38.0015 63.3681C39.8193 63.3681 41.2471 61.7743 41.0971 59.9194C41.0894 59.8255 41.0788 59.7424 41.0677 59.6672C41.0066 59.3297 41.1616 58.9745 41.4726 58.8032C44.3595 57.206 47.0508 56.5583 49.5222 55.963C54.6289 54.7335 58.7276 53.7471 61.1918 44.0976C52.0275 44.1232 43.3628 47.2748 40.0359 56.688C39.8882 57.1058 39.4389 57.3255 39.0279 57.1787C38.3925 56.951 37.6217 56.939 36.9874 57.1741C36.5742 57.3278 36.1171 57.1149 35.966 56.6886C34.3965 52.2461 31.6313 49.1793 28.1568 47.191L28.158 47.1894ZM31.442 26.8946C31.3687 26.5246 31.2626 26.1671 31.1238 25.8234C31.1149 25.8023 31.1043 25.7818 31.0966 25.7607C30.9316 25.343 31.1282 24.8677 31.5353 24.6992C32.972 24.1027 34.1262 22.9171 34.7098 21.4457H34.7121C34.7132 21.4423 34.7143 21.4389 34.7165 21.4355C34.8859 21.0228 35.3507 20.8281 35.7545 21.0029C36.8142 21.4611 38.0171 21.5846 39.1523 21.3501C39.5133 21.2761 39.862 21.1662 40.1975 21.0251C40.218 21.0148 40.2369 21.0052 40.2586 20.996C40.6662 20.827 41.13 21.0285 41.2944 21.4457C41.8764 22.9181 43.0322 24.102 44.4689 24.6992L44.4678 24.7015C44.4711 24.7026 44.4745 24.7037 44.4778 24.706C44.8815 24.8796 45.0715 25.356 44.901 25.7698C44.4539 26.8558 44.3334 28.0887 44.5622 29.2521C44.6344 29.622 44.7416 29.9795 44.8793 30.3233C44.8893 30.3443 44.8988 30.3648 44.9077 30.3859C45.0726 30.8037 44.876 31.279 44.4689 31.4474C43.0322 32.044 41.877 33.2295 41.2944 34.7009H41.2922C41.2911 34.7043 41.2899 34.7077 41.2877 34.7112C41.1183 35.1238 40.6524 35.3185 40.2497 35.1438C39.1901 34.6856 37.9871 34.562 36.852 34.7966C36.491 34.8717 36.1411 34.9804 35.8067 35.1216C35.7862 35.1318 35.7662 35.1415 35.7456 35.1506C35.338 35.3197 34.8743 35.1182 34.7099 34.7009C34.1278 33.2285 32.971 32.0446 31.5353 31.4475V31.4452C31.532 31.4441 31.5287 31.4429 31.5253 31.4406C31.1227 31.267 30.9327 30.7906 31.1021 30.3768C31.5503 29.2908 31.6708 28.0579 31.442 26.8946ZM31.5031 11.9969C32.7738 9.56364 35.2563 8 38.0022 8C40.749 8 43.2316 9.5635 44.5012 11.9969C45.6603 11.636 46.886 11.5734 48.064 11.8108C50.9981 12.3982 53.2978 14.7552 53.8711 17.7611C54.1016 18.9695 54.0405 20.2257 53.6895 21.4135C56.0637 22.7147 57.5894 25.259 57.5894 28.0742C57.5894 30.8882 56.0639 33.4325 53.6895 34.7337C54.0405 35.9216 54.1016 37.1778 53.8711 38.3862C53.298 41.3932 50.9981 43.7491 48.0652 44.3365C46.8861 44.5738 45.6604 44.5112 44.5014 44.1504C43.2318 46.5836 40.7492 48.1473 38.0023 48.1473C35.2566 48.1473 32.774 46.5838 31.5033 44.1504C30.3453 44.5112 29.1201 44.5738 27.9404 44.3365C25.0063 43.7491 22.7076 41.3932 22.1345 38.3862C21.9029 37.1778 21.964 35.9216 22.3161 34.7337C19.9419 33.4326 18.4162 30.8882 18.4162 28.0742C18.4162 25.259 19.9418 22.7148 22.3161 21.4135C21.964 20.2256 21.9029 18.9695 22.1345 17.7611C22.7077 14.754 25.0063 12.3982 27.9404 11.8108C29.1195 11.5734 30.3451 11.636 31.5031 11.9969ZM34.7826 10.6343C33.8368 11.2866 33.0887 12.22 32.6532 13.3186H32.651C32.6499 13.322 32.6487 13.3254 32.6465 13.3288C32.4771 13.7415 32.0112 13.9361 31.6085 13.7614C29.4631 12.8348 26.9555 13.3152 25.2788 15.0324C24.4357 15.8965 23.9076 16.9602 23.6954 18.0742C23.4788 19.2074 23.5871 20.3907 24.018 21.4677C24.0269 21.4876 24.0364 21.5081 24.0453 21.5292C24.2102 21.9469 24.0136 22.4222 23.6065 22.5907C21.4456 23.4895 20.0087 25.6416 20.0087 28.0737C20.0087 30.5058 21.4444 32.6551 23.6065 33.5556V33.5579C23.6098 33.559 23.6132 33.5601 23.6165 33.5624C24.0192 33.736 24.2091 34.2124 24.0386 34.6262C23.1344 36.825 23.6032 39.395 25.2788 41.1134C26.1218 41.9774 27.1598 42.5187 28.2456 42.7362C29.3525 42.957 30.507 42.8472 31.5567 42.4055C31.5773 42.3964 31.5973 42.3856 31.6178 42.3776C32.0255 42.2085 32.4892 42.41 32.6536 42.8272C33.5306 45.0419 35.6305 46.5145 38.0025 46.5145C40.3767 46.5145 42.4738 45.0431 43.3524 42.8272H43.3547C43.3558 42.8238 43.3569 42.8204 43.358 42.817C43.5285 42.4043 43.9933 42.2097 44.3971 42.3844C46.5426 43.311 49.0501 42.8306 50.7268 41.1134C51.5699 40.2494 52.0969 39.1856 52.3102 38.0728C52.5257 36.9384 52.4185 35.7551 51.9876 34.6781C51.9776 34.6582 51.9681 34.6377 51.9604 34.6167C51.7954 34.1989 51.992 33.7236 52.3991 33.5551C54.56 32.6564 55.9969 30.5042 55.9969 28.0733C55.9969 25.64 54.5612 23.4907 52.3981 22.5902L52.3992 22.588C52.3959 22.5868 52.3926 22.5857 52.3892 22.5834C51.9866 22.4098 51.7966 21.9334 51.966 21.5196C52.8713 19.3208 52.4025 16.7508 50.727 15.0324C49.8828 14.1684 48.846 13.6271 47.759 13.4096C46.6533 13.1888 45.4987 13.2987 44.4479 13.7403C44.4284 13.7494 44.4084 13.7603 44.3879 13.7682C43.9802 13.9373 43.5165 13.7358 43.3521 13.3186C42.4752 11.1039 40.3752 9.63131 38.0021 9.63131C36.8081 9.63131 35.7002 10.0002 34.7826 10.6343Z" fill="white"/>
                <path d="M88.044 13.526V21.824C88.044 22.676 87.87 23.441 87.522 24.119C87.18 24.791 86.664 25.325 85.974 25.721C85.29 26.111 84.432 26.306 83.4 26.306C82.362 26.306 81.498 26.117 80.808 25.739C80.124 25.361 79.611 24.836 79.269 24.164C78.927 23.492 78.756 22.712 78.756 21.824V13.526H81.717V20.726C81.717 21.848 81.819 22.694 82.023 23.264C82.227 23.828 82.686 24.11 83.4 24.11C84.114 24.11 84.573 23.828 84.777 23.264C84.981 22.694 85.083 21.848 85.083 20.726V13.526H88.044ZM96.029 22.229C96.029 21.791 95.942 21.446 95.768 21.194C95.6 20.936 95.36 20.753 95.048 20.645C94.742 20.537 94.382 20.483 93.968 20.483H92.753V23.849H93.842C94.13 23.849 94.403 23.828 94.661 23.786C94.925 23.744 95.159 23.666 95.363 23.552C95.573 23.438 95.735 23.276 95.849 23.066C95.969 22.85 96.029 22.571 96.029 22.229ZM95.561 17.009C95.561 16.517 95.405 16.163 95.093 15.947C94.787 15.725 94.31 15.614 93.662 15.614H92.753V18.503H93.752C94.388 18.503 94.847 18.386 95.129 18.152C95.417 17.918 95.561 17.537 95.561 17.009ZM99.071 22.346C99.071 23.066 98.933 23.663 98.657 24.137C98.381 24.611 98.003 24.983 97.523 25.253C97.043 25.523 96.494 25.715 95.876 25.829C95.264 25.943 94.619 26 93.941 26H89.801V13.526H93.752C94.394 13.526 95 13.58 95.57 13.688C96.146 13.79 96.656 13.964 97.1 14.21C97.544 14.45 97.892 14.777 98.144 15.191C98.402 15.599 98.531 16.106 98.531 16.712C98.531 17.21 98.426 17.642 98.216 18.008C98.006 18.368 97.727 18.665 97.379 18.899C97.031 19.127 96.653 19.292 96.245 19.394C96.689 19.466 97.127 19.607 97.559 19.817C97.997 20.021 98.357 20.327 98.639 20.735C98.927 21.143 99.071 21.68 99.071 22.346ZM106.786 23.309H103.132L102.475 26H99.3879L103.204 13.526H106.786L110.602 26H107.443L106.786 23.309ZM103.6 21.167H106.3L104.95 15.65L103.6 21.167ZM110.721 13.526H113.898L115.779 17.531L117.705 13.526H120.819L117.507 19.25L121.125 26H117.948L115.743 21.239L113.574 26H110.442L113.988 19.376L110.721 13.526Z" fill="#DEE1E3"/>
                <path d="M128 11.505H125.97L125.605 13H123.89L126.01 6.07H128L130.12 13H128.365L128 11.505ZM126.23 10.315H127.73L126.98 7.25L126.23 10.315ZM135.246 6.07V7.27H133.816V11.795H135.246V13H130.746V11.795H132.176V7.27H130.746V6.07H135.246Z" fill="#DEE1E3"/>
                <path d="M79.4148 54H78.3068L81.5114 45.2727H82.6023L85.8068 54H84.6989L82.0909 46.6534H82.0227L79.4148 54ZM79.8239 50.5909H84.2898V51.5284H79.8239V50.5909ZM90.4048 56.4545V47.4545H91.3764V48.4943H91.4957C91.5696 48.3807 91.6719 48.2358 91.8026 48.0597C91.9361 47.8807 92.1264 47.7216 92.3736 47.5824C92.6236 47.4403 92.9616 47.3693 93.3878 47.3693C93.9389 47.3693 94.4247 47.5071 94.8452 47.7827C95.2656 48.0582 95.5938 48.4489 95.8295 48.9545C96.0653 49.4602 96.1832 50.0568 96.1832 50.7443C96.1832 51.4375 96.0653 52.0384 95.8295 52.5469C95.5938 53.0526 95.267 53.4446 94.8494 53.723C94.4318 53.9986 93.9503 54.1364 93.4048 54.1364C92.9844 54.1364 92.6477 54.0668 92.3949 53.9276C92.142 53.7855 91.9474 53.625 91.8111 53.446C91.6747 53.2642 91.5696 53.1136 91.4957 52.9943H91.4105V56.4545H90.4048ZM91.3935 50.7273C91.3935 51.2216 91.4659 51.6577 91.6108 52.0355C91.7557 52.4105 91.9673 52.7045 92.2457 52.9176C92.5241 53.1278 92.8651 53.233 93.2685 53.233C93.6889 53.233 94.0398 53.1222 94.321 52.9006C94.6051 52.6761 94.8182 52.375 94.9602 51.9972C95.1051 51.6165 95.1776 51.1932 95.1776 50.7273C95.1776 50.267 95.1065 49.8523 94.9645 49.483C94.8253 49.1108 94.6136 48.8168 94.3295 48.6009C94.0483 48.3821 93.6946 48.2727 93.2685 48.2727C92.8594 48.2727 92.5156 48.3764 92.2372 48.5838C91.9588 48.7884 91.7486 49.0753 91.6065 49.4446C91.4645 49.8111 91.3935 50.2386 91.3935 50.7273ZM100.462 54.1364C99.831 54.1364 99.2869 53.9972 98.8295 53.7188C98.375 53.4375 98.0241 53.0455 97.777 52.5426C97.5327 52.0369 97.4105 51.4489 97.4105 50.7784C97.4105 50.108 97.5327 49.517 97.777 49.0057C98.0241 48.4915 98.3679 48.0909 98.8082 47.804C99.2514 47.5142 99.7685 47.3693 100.359 47.3693C100.7 47.3693 101.037 47.4261 101.369 47.5398C101.702 47.6534 102.004 47.8381 102.277 48.0938C102.55 48.3466 102.767 48.6818 102.929 49.0994C103.091 49.517 103.172 50.0312 103.172 50.642V51.0682H98.1264V50.1989H102.149C102.149 49.8295 102.075 49.5 101.928 49.2102C101.783 48.9205 101.575 48.6918 101.305 48.5241C101.038 48.3565 100.723 48.2727 100.359 48.2727C99.9588 48.2727 99.6122 48.3722 99.3196 48.571C99.0298 48.767 98.8068 49.0227 98.6506 49.3381C98.4943 49.6534 98.4162 49.9915 98.4162 50.3523V50.9318C98.4162 51.4261 98.5014 51.8452 98.6719 52.1889C98.8452 52.5298 99.0852 52.7898 99.392 52.9688C99.6989 53.1449 100.055 53.233 100.462 53.233C100.726 53.233 100.964 53.196 101.178 53.1222C101.393 53.0455 101.58 52.9318 101.736 52.7812C101.892 52.6278 102.013 52.4375 102.098 52.2102L103.07 52.483C102.967 52.8125 102.795 53.1023 102.554 53.3523C102.313 53.5994 102.014 53.7926 101.659 53.9318C101.304 54.0682 100.905 54.1364 100.462 54.1364ZM104.702 54V47.4545H105.673V48.4432H105.741C105.861 48.1193 106.077 47.8565 106.389 47.6548C106.702 47.4531 107.054 47.3523 107.446 47.3523C107.52 47.3523 107.612 47.3537 107.723 47.3565C107.834 47.3594 107.918 47.3636 107.974 47.3693V48.392C107.94 48.3835 107.862 48.3707 107.74 48.3537C107.621 48.3338 107.494 48.3239 107.361 48.3239C107.043 48.3239 106.759 48.3906 106.509 48.5241C106.261 48.6548 106.065 48.8366 105.92 49.0696C105.778 49.2997 105.707 49.5625 105.707 49.858V54H104.702ZM113.803 48.9205L112.9 49.1761C112.843 49.0256 112.759 48.8793 112.648 48.7372C112.54 48.5923 112.392 48.473 112.205 48.3793C112.017 48.2855 111.777 48.2386 111.485 48.2386C111.084 48.2386 110.75 48.331 110.483 48.5156C110.219 48.6974 110.087 48.929 110.087 49.2102C110.087 49.4602 110.178 49.6577 110.36 49.8026C110.542 49.9474 110.826 50.0682 111.212 50.1648L112.184 50.4034C112.769 50.5455 113.205 50.7628 113.492 51.0554C113.779 51.3452 113.922 51.7187 113.922 52.1761C113.922 52.5511 113.814 52.8864 113.598 53.1818C113.385 53.4773 113.087 53.7102 112.703 53.8807C112.32 54.0511 111.874 54.1364 111.365 54.1364C110.698 54.1364 110.145 53.9915 109.708 53.7017C109.27 53.4119 108.993 52.9886 108.877 52.4318L109.831 52.1932C109.922 52.5455 110.094 52.8097 110.347 52.9858C110.603 53.1619 110.936 53.25 111.348 53.25C111.817 53.25 112.189 53.1506 112.465 52.9517C112.743 52.75 112.882 52.5085 112.882 52.2273C112.882 52 112.803 51.8097 112.644 51.6562C112.485 51.5 112.24 51.3835 111.911 51.3068L110.82 51.0511C110.221 50.9091 109.78 50.6889 109.499 50.3906C109.221 50.0895 109.081 49.7131 109.081 49.2614C109.081 48.892 109.185 48.5653 109.392 48.2812C109.603 47.9972 109.888 47.7741 110.249 47.6122C110.613 47.4503 111.025 47.3693 111.485 47.3693C112.132 47.3693 112.641 47.5114 113.01 47.7955C113.382 48.0795 113.647 48.4545 113.803 48.9205ZM118.095 54.1364C117.504 54.1364 116.986 53.9957 116.54 53.7145C116.097 53.4332 115.75 53.0398 115.5 52.5341C115.253 52.0284 115.129 51.4375 115.129 50.7614C115.129 50.0795 115.253 49.4844 115.5 48.9759C115.75 48.4673 116.097 48.0724 116.54 47.7912C116.986 47.5099 117.504 47.3693 118.095 47.3693C118.686 47.3693 119.203 47.5099 119.646 47.7912C120.092 48.0724 120.439 48.4673 120.686 48.9759C120.936 49.4844 121.061 50.0795 121.061 50.7614C121.061 51.4375 120.936 52.0284 120.686 52.5341C120.439 53.0398 120.092 53.4332 119.646 53.7145C119.203 53.9957 118.686 54.1364 118.095 54.1364ZM118.095 53.233C118.544 53.233 118.913 53.1179 119.203 52.8878C119.493 52.6577 119.707 52.3551 119.847 51.9801C119.986 51.6051 120.055 51.1989 120.055 50.7614C120.055 50.3239 119.986 49.9162 119.847 49.5384C119.707 49.1605 119.493 48.8551 119.203 48.6222C118.913 48.3892 118.544 48.2727 118.095 48.2727C117.646 48.2727 117.277 48.3892 116.987 48.6222C116.697 48.8551 116.483 49.1605 116.344 49.5384C116.205 49.9162 116.135 50.3239 116.135 50.7614C116.135 51.1989 116.205 51.6051 116.344 51.9801C116.483 52.3551 116.697 52.6577 116.987 52.8878C117.277 53.1179 117.646 53.233 118.095 53.233ZM123.602 50.0625V54H122.596V47.4545H123.568V48.4773H123.653C123.806 48.1449 124.039 47.8778 124.352 47.6761C124.664 47.4716 125.068 47.3693 125.562 47.3693C126.005 47.3693 126.393 47.4602 126.725 47.642C127.058 47.821 127.316 48.0938 127.501 48.4602C127.686 48.8239 127.778 49.2841 127.778 49.8409V54H126.772V49.9091C126.772 49.3949 126.639 48.9943 126.372 48.7074C126.105 48.4176 125.738 48.2727 125.272 48.2727C124.951 48.2727 124.664 48.3423 124.412 48.4815C124.162 48.6207 123.964 48.8239 123.819 49.0909C123.674 49.358 123.602 49.6818 123.602 50.0625ZM131.542 54.1534C131.127 54.1534 130.751 54.0753 130.413 53.919C130.075 53.7599 129.806 53.5312 129.607 53.233C129.408 52.9318 129.309 52.5682 129.309 52.142C129.309 51.767 129.383 51.4631 129.531 51.2301C129.678 50.9943 129.876 50.8097 130.123 50.6761C130.37 50.5426 130.643 50.4432 130.941 50.3778C131.242 50.3097 131.545 50.2557 131.849 50.2159C132.246 50.1648 132.569 50.1264 132.816 50.1009C133.066 50.0724 133.248 50.0256 133.362 49.9602C133.478 49.8949 133.536 49.7812 133.536 49.6193V49.5852C133.536 49.1648 133.421 48.8381 133.191 48.6051C132.964 48.3722 132.619 48.2557 132.156 48.2557C131.675 48.2557 131.299 48.3608 131.026 48.571C130.754 48.7812 130.562 49.0057 130.451 49.2443L129.496 48.9034C129.667 48.5057 129.894 48.196 130.178 47.9744C130.465 47.75 130.778 47.5937 131.116 47.5057C131.457 47.4148 131.792 47.3693 132.121 47.3693C132.332 47.3693 132.573 47.3949 132.846 47.446C133.121 47.4943 133.387 47.5952 133.643 47.7486C133.901 47.902 134.116 48.1335 134.286 48.4432C134.457 48.7528 134.542 49.1676 134.542 49.6875V54H133.536V53.1136H133.485C133.417 53.2557 133.303 53.4077 133.144 53.5696C132.985 53.7315 132.773 53.8693 132.509 53.983C132.245 54.0966 131.923 54.1534 131.542 54.1534ZM131.695 53.25C132.093 53.25 132.428 53.1719 132.701 53.0156C132.977 52.8594 133.184 52.6577 133.323 52.4105C133.465 52.1634 133.536 51.9034 133.536 51.6307V50.7102C133.494 50.7614 133.4 50.8082 133.255 50.8509C133.113 50.8906 132.948 50.9261 132.761 50.9574C132.576 50.9858 132.396 51.0114 132.219 51.0341C132.046 51.054 131.906 51.071 131.798 51.0852C131.536 51.1193 131.292 51.1747 131.065 51.2514C130.84 51.3253 130.658 51.4375 130.519 51.5881C130.383 51.7358 130.315 51.9375 130.315 52.1932C130.315 52.5426 130.444 52.8068 130.702 52.9858C130.964 53.1619 131.295 53.25 131.695 53.25ZM137.383 45.2727V54H136.377V45.2727H137.383ZM143.538 51.6136L143.521 50.3693H143.725L146.589 47.4545H147.833L144.782 50.5398H144.697L143.538 51.6136ZM142.6 54V45.2727H143.606V54H142.6ZM146.759 54L144.202 50.7614L144.918 50.0625L148.038 54H146.759ZM150.133 50.0625V54H149.127V47.4545H150.099V48.4773H150.184C150.338 48.1449 150.571 47.8778 150.883 47.6761C151.196 47.4716 151.599 47.3693 152.093 47.3693C152.537 47.3693 152.924 47.4602 153.257 47.642C153.589 47.821 153.848 48.0938 154.032 48.4602C154.217 48.8239 154.309 49.2841 154.309 49.8409V54H153.304V49.9091C153.304 49.3949 153.17 48.9943 152.903 48.7074C152.636 48.4176 152.27 48.2727 151.804 48.2727C151.483 48.2727 151.196 48.3423 150.943 48.4815C150.693 48.6207 150.495 48.8239 150.35 49.0909C150.206 49.358 150.133 49.6818 150.133 50.0625ZM158.806 54.1364C158.215 54.1364 157.697 53.9957 157.251 53.7145C156.808 53.4332 156.461 53.0398 156.211 52.5341C155.964 52.0284 155.84 51.4375 155.84 50.7614C155.84 50.0795 155.964 49.4844 156.211 48.9759C156.461 48.4673 156.808 48.0724 157.251 47.7912C157.697 47.5099 158.215 47.3693 158.806 47.3693C159.397 47.3693 159.914 47.5099 160.357 47.7912C160.803 48.0724 161.15 48.4673 161.397 48.9759C161.647 49.4844 161.772 50.0795 161.772 50.7614C161.772 51.4375 161.647 52.0284 161.397 52.5341C161.15 53.0398 160.803 53.4332 160.357 53.7145C159.914 53.9957 159.397 54.1364 158.806 54.1364ZM158.806 53.233C159.255 53.233 159.624 53.1179 159.914 52.8878C160.204 52.6577 160.418 52.3551 160.558 51.9801C160.697 51.6051 160.766 51.1989 160.766 50.7614C160.766 50.3239 160.697 49.9162 160.558 49.5384C160.418 49.1605 160.204 48.8551 159.914 48.6222C159.624 48.3892 159.255 48.2727 158.806 48.2727C158.357 48.2727 157.988 48.3892 157.698 48.6222C157.408 48.8551 157.194 49.1605 157.055 49.5384C156.915 49.9162 156.846 50.3239 156.846 50.7614C156.846 51.1989 156.915 51.6051 157.055 51.9801C157.194 52.3551 157.408 52.6577 157.698 52.8878C157.988 53.1179 158.357 53.233 158.806 53.233ZM164.567 54L162.573 47.4545H163.63L165.045 52.4659H165.113L166.511 47.4545H167.585L168.965 52.4489H169.033L170.448 47.4545H171.505L169.511 54H168.522L167.09 48.9716H166.988L165.556 54H164.567ZM173.84 45.2727V54H172.835V45.2727H173.84ZM178.426 54.1364C177.796 54.1364 177.252 53.9972 176.794 53.7188C176.34 53.4375 175.989 53.0455 175.742 52.5426C175.498 52.0369 175.375 51.4489 175.375 50.7784C175.375 50.108 175.498 49.517 175.742 49.0057C175.989 48.4915 176.333 48.0909 176.773 47.804C177.216 47.5142 177.733 47.3693 178.324 47.3693C178.665 47.3693 179.002 47.4261 179.334 47.5398C179.667 47.6534 179.969 47.8381 180.242 48.0938C180.515 48.3466 180.732 48.6818 180.894 49.0994C181.056 49.517 181.137 50.0312 181.137 50.642V51.0682H176.091V50.1989H180.114C180.114 49.8295 180.04 49.5 179.892 49.2102C179.748 48.9205 179.54 48.6918 179.27 48.5241C179.003 48.3565 178.688 48.2727 178.324 48.2727C177.924 48.2727 177.577 48.3722 177.284 48.571C176.995 48.767 176.772 49.0227 176.615 49.3381C176.459 49.6534 176.381 49.9915 176.381 50.3523V50.9318C176.381 51.4261 176.466 51.8452 176.637 52.1889C176.81 52.5298 177.05 52.7898 177.357 52.9688C177.664 53.1449 178.02 53.233 178.426 53.233C178.691 53.233 178.929 53.196 179.142 53.1222C179.358 53.0455 179.544 52.9318 179.701 52.7812C179.857 52.6278 179.978 52.4375 180.063 52.2102L181.034 52.483C180.932 52.8125 180.76 53.1023 180.519 53.3523C180.277 53.5994 179.979 53.7926 179.624 53.9318C179.269 54.0682 178.87 54.1364 178.426 54.1364ZM185.138 54.1364C184.593 54.1364 184.111 53.9986 183.694 53.723C183.276 53.4446 182.949 53.0526 182.713 52.5469C182.478 52.0384 182.36 51.4375 182.36 50.7443C182.36 50.0568 182.478 49.4602 182.713 48.9545C182.949 48.4489 183.277 48.0582 183.698 47.7827C184.118 47.5071 184.604 47.3693 185.155 47.3693C185.581 47.3693 185.918 47.4403 186.165 47.5824C186.415 47.7216 186.605 47.8807 186.736 48.0597C186.87 48.2358 186.973 48.3807 187.047 48.4943H187.132V45.2727H188.138V54H187.167V52.9943H187.047C186.973 53.1136 186.868 53.2642 186.732 53.446C186.596 53.625 186.401 53.7855 186.148 53.9276C185.895 54.0668 185.559 54.1364 185.138 54.1364ZM185.275 53.233C185.678 53.233 186.019 53.1278 186.297 52.9176C186.576 52.7045 186.787 52.4105 186.932 52.0355C187.077 51.6577 187.15 51.2216 187.15 50.7273C187.15 50.2386 187.078 49.8111 186.936 49.4446C186.794 49.0753 186.584 48.7884 186.306 48.5838C186.027 48.3764 185.684 48.2727 185.275 48.2727C184.848 48.2727 184.493 48.3821 184.209 48.6009C183.928 48.8168 183.716 49.1108 183.574 49.483C183.435 49.8523 183.365 50.267 183.365 50.7273C183.365 51.1932 183.436 51.6165 183.578 51.9972C183.723 52.375 183.936 52.6761 184.218 52.9006C184.502 53.1222 184.854 53.233 185.275 53.233ZM192.762 56.5909C192.276 56.5909 191.858 56.5284 191.509 56.4034C191.159 56.2812 190.868 56.1193 190.635 55.9176C190.405 55.7188 190.222 55.5057 190.086 55.2784L190.887 54.7159C190.978 54.8352 191.093 54.9716 191.232 55.125C191.371 55.2812 191.561 55.4162 191.803 55.5298C192.047 55.6463 192.367 55.7045 192.762 55.7045C193.29 55.7045 193.726 55.5767 194.07 55.321C194.414 55.0653 194.586 54.6648 194.586 54.1193V52.7898H194.5C194.426 52.9091 194.321 53.0568 194.185 53.233C194.051 53.4062 193.858 53.5611 193.605 53.6974C193.355 53.831 193.017 53.8977 192.591 53.8977C192.063 53.8977 191.588 53.7727 191.168 53.5227C190.75 53.2727 190.419 52.9091 190.175 52.4318C189.934 51.9545 189.813 51.375 189.813 50.6932C189.813 50.0227 189.931 49.4389 190.167 48.9418C190.402 48.4418 190.73 48.0554 191.151 47.7827C191.571 47.5071 192.057 47.3693 192.608 47.3693C193.034 47.3693 193.373 47.4403 193.623 47.5824C193.875 47.7216 194.069 47.8807 194.202 48.0597C194.338 48.2358 194.444 48.3807 194.517 48.4943H194.62V47.4545H195.591V54.1875C195.591 54.75 195.463 55.2074 195.208 55.5597C194.955 55.9148 194.614 56.1747 194.185 56.3395C193.759 56.5071 193.284 56.5909 192.762 56.5909ZM192.728 52.9943C193.131 52.9943 193.472 52.902 193.75 52.7173C194.029 52.5327 194.24 52.267 194.385 51.9205C194.53 51.5739 194.603 51.1591 194.603 50.6761C194.603 50.2045 194.532 49.7884 194.39 49.4276C194.248 49.0668 194.037 48.7841 193.759 48.5795C193.48 48.375 193.137 48.2727 192.728 48.2727C192.301 48.2727 191.946 48.3807 191.662 48.5966C191.381 48.8125 191.169 49.1023 191.027 49.4659C190.888 49.8295 190.819 50.233 190.819 50.6761C190.819 51.1307 190.89 51.5327 191.032 51.8821C191.176 52.2287 191.39 52.5014 191.671 52.7003C191.955 52.8963 192.307 52.9943 192.728 52.9943ZM200.176 54.1364C199.546 54.1364 199.002 53.9972 198.544 53.7188C198.09 53.4375 197.739 53.0455 197.492 52.5426C197.248 52.0369 197.125 51.4489 197.125 50.7784C197.125 50.108 197.248 49.517 197.492 49.0057C197.739 48.4915 198.083 48.0909 198.523 47.804C198.966 47.5142 199.483 47.3693 200.074 47.3693C200.415 47.3693 200.752 47.4261 201.084 47.5398C201.417 47.6534 201.719 47.8381 201.992 48.0938C202.265 48.3466 202.482 48.6818 202.644 49.0994C202.806 49.517 202.887 50.0312 202.887 50.642V51.0682H197.841V50.1989H201.864C201.864 49.8295 201.79 49.5 201.642 49.2102C201.498 48.9205 201.29 48.6918 201.02 48.5241C200.753 48.3565 200.438 48.2727 200.074 48.2727C199.674 48.2727 199.327 48.3722 199.034 48.571C198.745 48.767 198.522 49.0227 198.365 49.3381C198.209 49.6534 198.131 49.9915 198.131 50.3523V50.9318C198.131 51.4261 198.216 51.8452 198.387 52.1889C198.56 52.5298 198.8 52.7898 199.107 52.9688C199.414 53.1449 199.77 53.233 200.176 53.233C200.441 53.233 200.679 53.196 200.892 53.1222C201.108 53.0455 201.294 52.9318 201.451 52.7812C201.607 52.6278 201.728 52.4375 201.813 52.2102L202.784 52.483C202.682 52.8125 202.51 53.1023 202.269 53.3523C202.027 53.5994 201.729 53.7926 201.374 53.9318C201.019 54.0682 200.62 54.1364 200.176 54.1364ZM210.536 54.1364C209.905 54.1364 209.361 53.9972 208.904 53.7188C208.449 53.4375 208.098 53.0455 207.851 52.5426C207.607 52.0369 207.485 51.4489 207.485 50.7784C207.485 50.108 207.607 49.517 207.851 49.0057C208.098 48.4915 208.442 48.0909 208.882 47.804C209.326 47.5142 209.843 47.3693 210.434 47.3693C210.775 47.3693 211.111 47.4261 211.444 47.5398C211.776 47.6534 212.078 47.8381 212.351 48.0938C212.624 48.3466 212.841 48.6818 213.003 49.0994C213.165 49.517 213.246 50.0312 213.246 50.642V51.0682H208.201V50.1989H212.223C212.223 49.8295 212.15 49.5 212.002 49.2102C211.857 48.9205 211.65 48.6918 211.38 48.5241C211.113 48.3565 210.797 48.2727 210.434 48.2727C210.033 48.2727 209.686 48.3722 209.394 48.571C209.104 48.767 208.881 49.0227 208.725 49.3381C208.569 49.6534 208.49 49.9915 208.49 50.3523V50.9318C208.49 51.4261 208.576 51.8452 208.746 52.1889C208.919 52.5298 209.159 52.7898 209.466 52.9688C209.773 53.1449 210.13 53.233 210.536 53.233C210.8 53.233 211.039 53.196 211.252 53.1222C211.468 53.0455 211.654 52.9318 211.81 52.7812C211.966 52.6278 212.087 52.4375 212.172 52.2102L213.144 52.483C213.042 52.8125 212.87 53.1023 212.628 53.3523C212.387 53.5994 212.088 53.7926 211.733 53.9318C211.378 54.0682 210.979 54.1364 210.536 54.1364ZM215.35 47.4545L216.918 50.1307L218.487 47.4545H219.646L217.532 50.7273L219.646 54H218.487L216.918 51.4602L215.35 54H214.191L216.271 50.7273L214.191 47.4545H215.35ZM221.081 56.4545V47.4545H222.052V48.4943H222.172C222.245 48.3807 222.348 48.2358 222.478 48.0597C222.612 47.8807 222.802 47.7216 223.049 47.5824C223.299 47.4403 223.637 47.3693 224.064 47.3693C224.615 47.3693 225.1 47.5071 225.521 47.7827C225.941 48.0582 226.27 48.4489 226.505 48.9545C226.741 49.4602 226.859 50.0568 226.859 50.7443C226.859 51.4375 226.741 52.0384 226.505 52.5469C226.27 53.0526 225.943 53.4446 225.525 53.723C225.108 53.9986 224.626 54.1364 224.081 54.1364C223.66 54.1364 223.324 54.0668 223.071 53.9276C222.818 53.7855 222.623 53.625 222.487 53.446C222.35 53.2642 222.245 53.1136 222.172 52.9943H222.086V56.4545H221.081ZM222.069 50.7273C222.069 51.2216 222.142 51.6577 222.287 52.0355C222.431 52.4105 222.643 52.7045 222.922 52.9176C223.2 53.1278 223.541 53.233 223.944 53.233C224.365 53.233 224.716 53.1222 224.997 52.9006C225.281 52.6761 225.494 52.375 225.636 51.9972C225.781 51.6165 225.853 51.1932 225.853 50.7273C225.853 50.267 225.782 49.8523 225.64 49.483C225.501 49.1108 225.289 48.8168 225.005 48.6009C224.724 48.3821 224.37 48.2727 223.944 48.2727C223.535 48.2727 223.191 48.3764 222.913 48.5838C222.635 48.7884 222.424 49.0753 222.282 49.4446C222.14 49.8111 222.069 50.2386 222.069 50.7273ZM229.399 45.2727V54H228.393V45.2727H229.399ZM233.9 54.1364C233.309 54.1364 232.79 53.9957 232.344 53.7145C231.901 53.4332 231.555 53.0398 231.305 52.5341C231.058 52.0284 230.934 51.4375 230.934 50.7614C230.934 50.0795 231.058 49.4844 231.305 48.9759C231.555 48.4673 231.901 48.0724 232.344 47.7912C232.79 47.5099 233.309 47.3693 233.9 47.3693C234.491 47.3693 235.008 47.5099 235.451 47.7912C235.897 48.0724 236.244 48.4673 236.491 48.9759C236.741 49.4844 236.866 50.0795 236.866 50.7614C236.866 51.4375 236.741 52.0284 236.491 52.5341C236.244 53.0398 235.897 53.4332 235.451 53.7145C235.008 53.9957 234.491 54.1364 233.9 54.1364ZM233.9 53.233C234.349 53.233 234.718 53.1179 235.008 52.8878C235.298 52.6577 235.512 52.3551 235.651 51.9801C235.79 51.6051 235.86 51.1989 235.86 50.7614C235.86 50.3239 235.79 49.9162 235.651 49.5384C235.512 49.1605 235.298 48.8551 235.008 48.6222C234.718 48.3892 234.349 48.2727 233.9 48.2727C233.451 48.2727 233.082 48.3892 232.792 48.6222C232.502 48.8551 232.288 49.1605 232.148 49.5384C232.009 49.9162 231.94 50.3239 231.94 50.7614C231.94 51.1989 232.009 51.6051 232.148 51.9801C232.288 52.3551 232.502 52.6577 232.792 52.8878C233.082 53.1179 233.451 53.233 233.9 53.233ZM238.401 54V47.4545H239.373V48.4432H239.441C239.56 48.1193 239.776 47.8565 240.088 47.6548C240.401 47.4531 240.753 47.3523 241.145 47.3523C241.219 47.3523 241.311 47.3537 241.422 47.3565C241.533 47.3594 241.617 47.3636 241.674 47.3693V48.392C241.64 48.3835 241.561 48.3707 241.439 48.3537C241.32 48.3338 241.194 48.3239 241.06 48.3239C240.742 48.3239 240.458 48.3906 240.208 48.5241C239.961 48.6548 239.765 48.8366 239.62 49.0696C239.478 49.2997 239.407 49.5625 239.407 49.858V54H238.401ZM245.411 54.1364C244.78 54.1364 244.236 53.9972 243.779 53.7188C243.324 53.4375 242.973 53.0455 242.726 52.5426C242.482 52.0369 242.36 51.4489 242.36 50.7784C242.36 50.108 242.482 49.517 242.726 49.0057C242.973 48.4915 243.317 48.0909 243.757 47.804C244.201 47.5142 244.718 47.3693 245.309 47.3693C245.65 47.3693 245.986 47.4261 246.319 47.5398C246.651 47.6534 246.953 47.8381 247.226 48.0938C247.499 48.3466 247.716 48.6818 247.878 49.0994C248.04 49.517 248.121 50.0312 248.121 50.642V51.0682H243.076V50.1989H247.098C247.098 49.8295 247.025 49.5 246.877 49.2102C246.732 48.9205 246.525 48.6918 246.255 48.5241C245.988 48.3565 245.672 48.2727 245.309 48.2727C244.908 48.2727 244.561 48.3722 244.269 48.571C243.979 48.767 243.756 49.0227 243.6 49.3381C243.444 49.6534 243.365 49.9915 243.365 50.3523V50.9318C243.365 51.4261 243.451 51.8452 243.621 52.1889C243.794 52.5298 244.034 52.7898 244.341 52.9688C244.648 53.1449 245.005 53.233 245.411 53.233C245.675 53.233 245.914 53.196 246.127 53.1222C246.343 53.0455 246.529 52.9318 246.685 52.7812C246.841 52.6278 246.962 52.4375 247.047 52.2102L248.019 52.483C247.917 52.8125 247.745 53.1023 247.503 53.3523C247.262 53.5994 246.963 53.7926 246.608 53.9318C246.253 54.0682 245.854 54.1364 245.411 54.1364ZM249.651 54V47.4545H250.623V48.4432H250.691C250.81 48.1193 251.026 47.8565 251.338 47.6548C251.651 47.4531 252.003 47.3523 252.395 47.3523C252.469 47.3523 252.561 47.3537 252.672 47.3565C252.783 47.3594 252.867 47.3636 252.924 47.3693V48.392C252.89 48.3835 252.811 48.3707 252.689 48.3537C252.57 48.3338 252.444 48.3239 252.31 48.3239C251.992 48.3239 251.708 48.3906 251.458 48.5241C251.211 48.6548 251.015 48.8366 250.87 49.0696C250.728 49.2997 250.657 49.5625 250.657 49.858V54H249.651Z" fill="#DEE1E3"/>
                </svg>
                
          
        </a>
      </div>
      <div class="block lg:hidden pr-4">
        <button id="nav-toggle" class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
          <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
        <ul class="list-reset lg:flex justify-end flex-1 items-center">
            <li class="mr-2">
                <a class="inline-block text-white no-underline hover:text-gray-800 hover:text-underline" href="#">
                    <button
                class="cursor-pointer p-3 rounded border-[1px] border-solid border-lightgray-100"
                id="a"
              >
                <img
                  class="relative w-4 h-4 shrink-0 overflow-hidden"
                  alt=""
                  src="../../../utils/img/svg3.svg"
                />
                </button>
                </a>
              </li>
          <li class="mr-2">
            <a class="inline-block text-white font-bold no-underline" href="#">
                <button
            class="cursor-pointer p-3 rounded border-[1px] border-solid border-lightgray-100"
            id="a"
          >
            <img
              class="relative w-4 h-4 shrink-0 overflow-hidden"
              alt=""
              src="../../../utils/img/svg.svg"
            />
            </button>
            </a>
          </li>
          <li class="mr-2">
            <a class="inline-block text-white no-underline hover:text-gray-800 hover:text-underline" href="#">
                <button
            class="cursor-pointer p-3 flex flex-row gap-[12px] items-end justify-start rounded border-[1px] border-solid border-lightgray-100"
            id="a"
          >
            <img
              class="relative w-4 h-4 shrink-0 overflow-hidden top-[-3px]"
              alt=""
              src="../../../utils/img/svg1.svg"
            />
            <div
            class="relative text-base leading-[17px] font-inter text-gainsboro text-left"
          >
            Community
            </div>
            </button>
            </a>
          </li>
          <li class="mr-2">
            <a class="inline-block text-white no-underline hover:text-gray-800 hover:text-underline " href="#">
                <button
            class="cursor-pointer p-3 rounded-md flex flex-row justify-start gap-[12px] rounded border-[1px] border-solid border-lightgray-100"
            id="a"
          >
            <img
              class="relative w-4 h-4 shrink-0 overflow-hidden"
              alt=""
              src="../../../utils/img/svg2.svg"
            />
            <div
              class="relative text-base leading-[17px] font-inter text-gainsboro text-left"
            >
              Sponser
            </div>
            </button>
            </a>
          </li>
          <li class="mr-2">
            <a class="inline-block text-white no-underline hover:text-gray-800 hover:text-underline " href="#">
                <button
            class="cursor-pointer p-3 rounded border-[1px] border-solid border-lightgray-100"
            id="a"
          >
            <img
              class="relative w-4 h-4 shrink-0 overflow-hidden"
              alt=""
              src="../../../utils/img/svg4.svg"
            />
            </button>
            </a>
          </li>
        </ul>
        <!-- <button
          id="navAction"
          class="mx-auto lg:mx-0  text-white font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
        >
          ABOUT
        </button> -->
      </div>
    </div>
    <!-- <hr class="border-b border-gray-100 opacity-25 my-0 py-0" /> -->
  </nav>


  <!-- component -->
  <aside class="w-full p-6 sm:w-60 dark:bg-gray-900 dark:text-gray-100">
	<nav class="space-y-8 text-sm">
		<div class="space-y-2">
			<h2 class="text-sm font-semibold tracking-widest uppercase dark:text-gray-400">Getting Started</h2>
			<div class="flex flex-col space-y-1">
				<a rel="noopener noreferrer" href="#">Installation</a>
				<a rel="noopener noreferrer" href="#">Plugins</a>
				<a rel="noopener noreferrer" href="#">Migrations</a>
				<a rel="noopener noreferrer" href="#">Appearance</a>
				<a rel="noopener noreferrer" href="#">Mamba UI</a>
			</div>
		</div>
		<div class="space-y-2">
			<h2 class="text-sm font-semibold tracking-widest uppercase dark:text-gray-400">Dashboard</h2>
			<div class="flex flex-col space-y-1">
				<a rel="noopener noreferrer" href="#">Header</a>
				<a rel="noopener noreferrer" href="#">Drawer</a>
				<a rel="noopener noreferrer" href="#">Page Title</a>
				<a rel="noopener noreferrer" href="#">Menus</a>
				<a rel="noopener noreferrer" href="#">Sidebar</a>
				<a rel="noopener noreferrer" href="#">Footer</a>
			</div>
		</div>
		<div class="space-y-2">
			<h2 class="text-sm font-semibold tracking-widest uppercase dark:text-gray-400">Pages</h2>
			<div class="flex flex-col space-y-1">
				<a rel="noopener noreferrer" href="#">Homepage</a>
				<a rel="noopener noreferrer" href="#">Users</a>
				<a rel="noopener noreferrer" href="#">Tools</a>
				<a rel="noopener noreferrer" href="#">Settings</a>
			</div>
		</div>
		<div class="space-y-2">
			<h2 class="text-sm font-semibold tracking-widest uppercase dark:text-gray-400">Misc</h2>
			<div class="flex flex-col space-y-1">
				<a rel="noopener noreferrer" href="#">Tutorials</a>
				<a rel="noopener noreferrer" href="#">Changelog</a>
			</div>
		</div>
	</nav>
</aside>

<script>
    /*Toggle dropdown list*/
    /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

    var navMenuDiv = document.getElementById("nav-content");
    var navMenu = document.getElementById("nav-toggle");

    document.onclick = check;
    function check(e) {
      var target = (e && e.target) || (event && event.srcElement);

      //Nav Menu
      if (!checkParent(target, navMenuDiv)) {
        // click NOT on the menu
        if (checkParent(target, navMenu)) {
          // click on the link
          if (navMenuDiv.classList.contains("hidden")) {
            navMenuDiv.classList.remove("hidden");
          } else {
            navMenuDiv.classList.add("hidden");
          }
        } else {
          // click both outside link and outside menu, hide menu
          navMenuDiv.classList.add("hidden");
        }
      }
    }
    function checkParent(t, elm) {
      while (t.parentNode) {
        if (t == elm) {
          return true;
        }
        t = t.parentNode;
      }
      return false;
    }
  </script>
  </body>
  </html>